@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
}

/* At the bottom of app/globals.css */
.recharts-default-tooltip {
  background-color: #1F2937 !important; /* bg-gray-800 */
  border-color: #4B5563 !important; /* border-gray-600 */
  border-radius: 0.5rem !important;
}